#cuerpo{
    background-color: whitesmoke;
}

#banner-inicio{
    /*background-image: url(images/banner.png);*/
    background-color: cornflowerblue;
        
}

#titulo-inicio, #subtitulo-inicio{
    color:whitesmoke;
    font-family: Helvetica, sans-serif;
}